.history/
Library/Artifacts/
Temp/
Library/PackageCache/
Logs/
MemoryCaptures/
*.csproj
*.sln
Assets/Audio/
Assets/Media/
*.blend1
*.blend1.meta
Library/
UnityTechnologies/
Samples/
TutorialInfo/
*.mp4a
*.mp3
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.pdf
*.docx
*.xlsx
*.pptx
Assets/MRTemplateAssets/
Assets/Samples/
Assets/TextMesh Pro/
.history/
*.apk
*.aab
.utmp/
Assets/Unity.VisualScripting.Generated/
Assets/UnityTechnologies/
Library/
Logs/
Packages/
TempAssembly.dll
DogPoV_BurstDebugInformation_DoNotShip/
Temp/
Assets/Oculus/VR/
Assets/XR/Temp.meta
Assets/Resources/PerformanceTestRunInfo.json
Assets/Resources/PerformanceTestRunInfo.json.meta
Assets/Resources/PerformanceTestRunSettings.json
Assets/Resources/PerformanceTestRunSettings.json.meta
Assets/XR/Resources/XRSimulationRuntimeSettings.asset
Assets/XR/Resources/XRSimulationRuntimeSettings.asset.meta
Assets/XR/UserSimulationSettings/Resources/XRSimulationPreferences.asset
Assets/XR/UserSimulationSettings/Resources/XRSimulationPreferences.asset.meta
